.div-img{
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.div-img > img{
    margin: 0 auto;
    border: 3px solid #CCC;
}
.scroll{
    overflow-x: scroll; 
}
.estatus-pro{
    position: absolute;
    top: 20px;
    z-index: 100000;
}
.imagen-profile{
    margin: 0 -10px !important;
    background-color: #FFF;
}
.cont-arbol{
    overflow: auto;
    padding: 20px;
}
.content-wrapper{
    padding-bottom: 0;
}

/*Now the CSS*/
* {margin: 0; padding: 0;}
.tree{
    height: auto;
}
.tree ul {
    padding-top: 20px; position: relative;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/
/*Conectores horizontales*/
.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

/*Tenemos que quitar los conectores de izquierda-derecha de los elementos sin los hermanos*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Retire el espacio de la parte superior de los niÃ±os individuales*/
.tree li:only-child{ padding-top: 0;}

/*Retire el conector izquierdo del primer hijo y conector derecha desde Ãºltimo hijo*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;

}
/*AdiciÃ³n de vuelta el conector vertical para los Ãºltimos nodos*/
.tree li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}

.tree li nodo{
    border: 1px solid #ccc;
    padding: 0 10px 10px 10px;
    width: 110px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    background-color: #FFF;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li nodo:hover, .tree li nodo:hover+ul li nodo {
    background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li nodo:hover+ul li::after, 
.tree li nodo:hover+ul li::before, 
.tree li nodo:hover+ul::before, 
.tree li nodo:hover+ul ul::before{
    border-color:  #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/